.title-header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
}

.title-header-txt {
    font-weight: 700;
    font-size: 44px;
    line-height: 77px;
    color: #323232;
}

.title-line-1 {
    border: 2px solid #F18902;
    width: 0px ;
    height: 24px;
}

.title-line-2 {
    border: 2px solid #F18902;
    width: 0px ;
    height: 48px;
}

@media screen and (max-width: 1126px) {
    .title-header-txt {
        font-size: 29px;
        line-height: 27px;
    } 

    .title-line-1 {
        height: 14px;
    }
    
    .title-line-2 {
        height: 28px;
    }
}

@media screen and (max-width: 414px ) {
    .title-header-txt {
        font-size: 24px;
        line-height: 17px;
    }

    .title-line-1 {
        height: 14px;
    }
    
    .title-line-2 {
        height: 28px;
    }
    
}