.label-style {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 3px;
    margin-bottom: 10px;
}

.label-input {
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    width: 458px;
    height: 42px;
    color: #000000;
    padding-left: 10px;
}

.label-textarea {
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    width: 458px;
    height: 142px;
    color: #000000;
    padding: 5px;
}

@media screen and (max-width: 1126px) {
    .label-style {
        font-size: 12px;
    }

    .label-input {
        width: 378px;
    }

    .label-textarea {
        width: 378px;
    }
}

@media screen and (max-width: 414px) {
    .label-style {
        font-size: 12px;
    }

    .label-input {
        width: 332px;
    }

    .label-textarea {
        width: 332px;
        height: 90px;
    }
}