.label-style {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 3px;
    margin-bottom: 10px;
}

.label-input {
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    width: 458px;
    height: 42px;
    color: #000000;
    padding-left: 10px;
}

.label-textarea {
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    width: 458px;
    height: 142px;
    color: #000000;
    padding: 5px;
}