.thirdscreen-container {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 160px;
    padding-left: 160px;
    padding-right: 160px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    overflow: hidden;
}

.thirdscreen-img-section-1 {
    display: flex;
    justify-content: center;
}

.thirdscreen-img-section-2 {
    display: none;
}

.thirdscreen-txt {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    justify-content: space-between;
    color: #999999;
    margin-left: 160px;
    margin-right: 160px;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 580px;
}

@media screen and (max-width: 1126px) {
    .thirdscreen-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .thirdscreen-txt {
        font-size: 20px;
        line-height: 24px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .thirdscreen-img-section-1 {
        display: flex;
        justify-content: center;
    }
    
    .thirdscreen-img-section-2 {
        display: none;
    }

    form {
        display: flex;
        justify-content: center; 
    }
}

@media screen and (max-width: 414px) {
    .thirdscreen-container {
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 0px;
    }

    .thirdscreen-txt {
        font-size: 14px;
        line-height: 19px;
        
    }

    .thirdscreen-img-section-1 {
        display: none;
    }
    
    .thirdscreen-img-section-2 {
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }

    form {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}